# .gitignore

# NixOS development shell
shell.nix

# obvious ones for nodejs projects
node_modules
.env

# pm2 ecosystem
app.json

# sqlite3 database
data.db

# submodules are handled separately
sites/*
commands/*
events/*
updater/*

# but we'll allow examples to get through
!sites/_example.js
!sites/README.md
!commands/_example.js
!events/_interactionCreate.js
